.header {
  /* background: linear-gradient(to top, #043e52, #5bb4b0); */
  border-bottom: 1px solid #ececec;
  background-color: #1c939b;
  min-height: 74px;
  display: flex;
  align-items: center;
}

.navlink {
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
  margin-left: 25px;
}

.buttonLogOut {
  border-radius: 4px;
  padding: auto;
  margin-left: 20px;
  min-width: 100px;
  height: 40px;
  text-align: center;
  border: 1px transparent;
  color: #fff;
  background-color: #043e52;
  border: #043e52;
}

.imgUser {
  margin-right: 15px;
}

.userMenuBlock {
  margin-left: 850px;
}
